extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner AWS CodePipeline
    div.Message
      div.Title
        h3 Ivan Echegaray
        h1 Seidor Technologies
      span.Details Build v1.0.13
    //- div.NavButtons
    //-   if isAuthenticated
    //-     a(href="/user")
    //-       div.NavButton Just dive in!
    //-   else
    //-     a(href="/login")
    //-       div.NavButton Log in